
<div id="inicio" class="perfil">
    <div class="perfil__foto">
        <img src="/inicio/foto.jpeg" alt="Foto de Javier Huanca Castro">
        <h3>Javier Huanca Castro</h3>
    </div>

    <div  class="perfil__info">
        <h1>DESARROLLADOR BACKEND</h1>
        <h2>Ingeniería de Sistemas</h2>
        <h3>Principales habilidades</h3>
        <ul>
            <li>Creacion y consumo de APIs</li>
            <li>Manejo de base de datos, sea MySQL, SQLite, SQLServer</li>
            <li>Manejo de VPS(Virtual private Server) basico</li>
            <li>Ciclo de vida de aplicación</li>
        </ul>

        <a href="https://api.whatsapp.com/send/?phone=%2B51907013066" target="_blank" >Contactame</a>
    </div>


</div>
<section class="skills">
    <h2 id="lenguajes">Lenguajes</h2>
    <div class="skills__grid">
        <div *ngFor="let lenguaje of lenguajes" class="skill-card" [ngClass]="lenguaje.class">
            <img [src]="lenguaje.icon" [alt]="lenguaje.name + ' logo'">
            <span>{{ lenguaje.name }}</span>
            <span>Nivel: {{ lenguaje.nivel }}</span>
        </div>
    </div>
    <br><br>
    <h2 id="framework">Framework</h2>
    <div class="skills__grid">
        <div *ngFor="let framework of frameworks" class="skill-card" [ngClass]="framework.class">
            <img [src]="framework.icon" [alt]="framework.name + ' logo'">
            <span>{{ framework.name }}</span>
            <span>Nivel: {{ framework.nivel }}</span>
        </div>
    </div>
</section>
<section class="proyectos">
    <h2 id="proyectos">Proyectos</h2>
    <div class="proyectos__grid">
        <div *ngFor="let proyecto of proyectos" class="proyecto-card" (click)="abrirProyecto(proyecto)">
            <img [src]="proyecto.portada" alt="{{ proyecto.titulo }} portada">
            <h3>{{ proyecto.titulo }}</h3>
            <p>{{ proyecto.descripcion }}</p>
        </div>
    </div>
</section>