@use "sass:color";

.perfil {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;

  .perfil__foto {
    text-align: center;

    img {
      width: 30rem;
      height: 40rem;
      border-radius: 1rem;
      object-fit: cover;

    }

    h3 {
      margin-top: 2rem;
      font-size: 3rem;
      color: #000F96;
    }
  }

  .perfil__info {
    
    div{
      display: grid;

      h1 {
      font-size: 4rem;
      color: #000F96;
      
    }
    }

    h2 {
      font-size: 3rem;
      color: #202020;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 2rem;
      color: #505050;
    }

    ul {
      li {
        font-size: 1.5rem;
        line-height: 1.6;
        margin-bottom: 0.8rem;
        color: #000;
      }
    }

    a {
      text-decoration: none;
      color: #000F96;
      background-color: #fff;
      font-size: 2rem;
      border-radius: 1rem;
      display: inline-block;
      padding: 1.5rem;
      margin-left: 10rem;
      margin-top: 1.5rem;
      font-weight: bold;
      border: 1px solid #000F96;
    }
    a:hover{
      background-color: greenyellow;
      border: 1px solid #fff;
    }
  }
}



.skills {
  align-items: center;
  width: 100%;
  text-align: center;

  #framework{
    font-size:3rem;
  }

  .skills__grid{
    display: inline-flex;
    
    .tarjeta-skills{
      margin: 0 2rem;
      h3{
        font-size: 2.5rem;
      }
      img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
      }
      h4{
        font-size: 2rem;
      }
      ul{
        li{
          font-size: 1.5rem;
          line-height: 1.6;
          text-align: left; 
        }
      }
    }
  }
}

.conocimientos{
  text-align: center;
  h2{
    font-size: 3rem;
  }
  .nociones-conocimientos{
    font-size: 2rem;
    line-height: 1.6;
  }
}


.proyectos{
  font-size: 3rem;
  text-align: center;
}